In [2]:
import sqlite3
import pandas as pd

In [4]:
df = pd.read_csv("../data/cpi_cleaned.csv")

In [6]:
conn = sqlite3.connect("../data/cpi_database.sqlite")

In [8]:
df.to_sql("cpi_data", conn, if_exists="replace", index=False)

4875

In [10]:
pd.read_sql("SELECT COUNT(*) AS Total_Records FROM cpi_data", conn)

   Total_Records
0           4875

In [12]:
pd.read_sql("SELECT * FROM cpi_data LIMIT 10", conn)

                      Product           Date  CPI_Value
0           Food and energy 9   January 2015      139.0
1  Fresh fruit and vegetables   January 2015      129.9
2                    Energy 9   January 2015      139.5
3           Food and energy 9  February 2015      141.0
4  Fresh fruit and vegetables  February 2015      130.3
5                    Energy 9  February 2015      145.1
6           Food and energy 9     March 2015      142.5
7  Fresh fruit and vegetables     March 2015      128.3
8                    Energy 9     March 2015      149.8
9           Food and energy 9     April 2015      141.9

In [16]:
pd.read_sql("""
SELECT Product, Date, CPI_Value 
FROM cpi_data 
WHERE Product LIKE '%Energy%' 
AND Date LIKE '%2019%'
""", conn)

               Product           Date  CPI_Value
0    Food and energy 9   January 2019      148.6
1             Energy 9   January 2019      148.5
2    Food and energy 9  February 2019      149.5
3             Energy 9  February 2019      150.1
4    Food and energy 9     March 2019      152.1
..                 ...            ...        ...
307           Energy 9   October 2019      194.4
308  Food and energy 9  November 2019      163.6
309           Energy 9  November 2019      195.7
310  Food and energy 9  December 2019      164.7
311           Energy 9  December 2019      198.4

[312 rows x 3 columns]